// Function to get deeper map values in the mixin
// Used to get setting values in the mixin
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@function map-check($m, $a){
  @if map-has-key($m, $a) {
    @return true;
  } @else {
    @return false; 
  }
}

// Function to add generated map values for padding and margin to the utilities map
@function map-set($name, $property, $value, $map) {
  $new: (
    $name: (
      property: $property,
      value: $value
    )
  );
  @return map-merge($map, $new);
}

@function prepend($list, $value) {
  @return join($value, $list);
}

// An example of how to configure Synapse's settings for the grid
$synapse: (
  columns: 12,
  layouts: (
        xs:  0px,
        sm:  480px, 
        md:  787px,
        lg: 1024px,
        xlg: 1200px
    ),
  spaceUnits: (8px, 1em, 2em, 3em, 4em)
);

// List of all basic utilities, easy to edit.
// The same of each sub-map is the utility name to reference in the mixin
// The properties and values are the utilities' CSS components
$utilitiesList: (
    align-c: ( 
      property: text-align,
      value: center
    ),
    align-l: ( 
      property: text-align,
      value: left
    ),
    align-r: ( 
      property: text-align,
      value: right
    ),
    float-r: ( 
      property: float,
      value: right
    ),
    float-l: ( 
      property: float,
      value: left
    ),
    float-n: ( 
      property: float,
      value: none
    ),
    border-b: (
      property: box-sizing,
      value: border-box
    ),
    hide: (
      property: display,
      value: none !important
    )
  );

// Get a list of spacing variables from the settings
$spacing: map-get($synapse, spaceUnits);
$full-spacing: $spacing;

// Loop through the spacing settings and generate all the utilities 
// for padding and margin placement
@each $size in $spacing {
   $i: index($spacing, $size);
  
  $utilitiesList: map-set(pad-0, padding, 0, $utilitiesList);
  $utilitiesList: map-set(pad-#{$i}, padding, $size, $utilitiesList);
  $utilitiesList: map-set(pad-t-#{$i}, padding-top, $size, $utilitiesList);
  $utilitiesList: map-set(pad-r-#{$i}, padding-right, $size, $utilitiesList);
  $utilitiesList: map-set(pad-b-#{$i}, padding-bottom, $size, $utilitiesList);
  $utilitiesList: map-set(pad-l-#{$i}, padding-left, $size, $utilitiesList);

  $utilitiesList: map-set(marg-0, margin, 0, $utilitiesList);
  $utilitiesList: map-set(marg-#{$i}, margin, $size, $utilitiesList);
  $utilitiesList: map-set(marg-t-#{$i}, margin-top, $size, $utilitiesList);
  $utilitiesList: map-set(marg-r-#{$i}, margin-right, $size, $utilitiesList);
  $utilitiesList: map-set(marg-b-#{$i}, margin-bottom, $size, $utilitiesList);
  $utilitiesList: map-set(marg-l-#{$i}, margin-left, $size, $utilitiesList);

}

@mixin column-basics($breakpointWidth, $widthPer, $utilities, $offset, $columns, $totalColumns) {
  
  @if ($columns == $totalColumns) {
    width: 100%;
  } @elseif ($columns != 0) {
    width: $widthPer;
  }
  
  @if ($utilities != '') {
    @for $i from 1 through length($utilities) {
      $utilityName: nth($utilities, $i);
      
      @if ( map-check($utilitiesList, $utilityName) == true ) {
        $property: map-deep-get($utilitiesList, $utilityName, "property");
        $value: map-deep-get($utilitiesList, $utilityName, "value");
        
        #{$property}: $value;
      } @elseif  ( map-check($utilitiesList, $utilityName) == false ) {
        @include synapse-custom($utilityName);
      }
    }
  }
  
  @if ($offset != 0) {
    margin-left: percentage($offset/$totalColumns);
  }
}

// Setup for the actual synapse mixin
@mixin syn($breakpoint, $columns, $offset, $utilities: none) {
    // The width of the breakpoint specificied
    $breakpointWidth: map-deep-get($synapse, "layouts", $breakpoint);
    // The total number of columns from the settings
    $totalColumns: map-get($synapse, "columns");
    $widthPer: percentage($columns/$totalColumns); 

    // Sets up the media query and adds the basic grid properties and
    // width based on the number of columns in the mixin
    @if ($breakpointWidth == 0 ) {
      @include column-basics($breakpointWidth, $widthPer, $utilities, $offset, $columns, $totalColumns);
    } @else {
      @media screen and (min-width: $breakpointWidth) {
        @include column-basics($breakpointWidth, $widthPer, $utilities, $offset, $columns, $totalColumns);
      }
    }
}

@mixin generate-padding() {
  @for $i from 1 through (length($spacing) + 1) {
    $i: $i - 1;
    $space: null;
    
    @if ( $i == 0 ) {
      $space: 0;
    } @else {
      $space: nth($spacing, $i); 
    }
    
    .pad-#{$i} {
      padding: #{$space};
    }

    .pad-top-#{$i} {
      padding-top: #{$space};
    }

    .pad-right-#{$i} {
      padding-right: #{$space};
    }

    .pad-bottom-#{$i} {
      padding-bottom: #{$space};
    }

    .pad-left-#{$i} {
      padding-left: #{$space};
    }

    .pad-vert-#{$i} {
      padding-top: #{$space};
      padding-bottom: #{$space};
    }

    .pad-sides-#{$i} {
      padding-right: #{$space};
      padding-left: #{$space};
    }
  }
}

@mixin generate-margin() {
  @for $i from 1 through (length($spacing) + 1) {
    $i: $i - 1;
    $space: null;
    
    @if ( $i == 0 ) {
      $space: 0;
    } @else {
      $space: nth($spacing, $i); 
    }
    
    .marg-#{$i} {
      margin: #{$space};
    }

    .marg-top-#{$i} {
      margin-top: #{$space};
    }

    .marg-right-#{$i} {
      margin-right: #{$space};
    }

    .marg-bottom-#{$i} {
      margin-bottom: #{$space};
    }

    .marg-left-#{$i} {
      margin-left: #{$space};
    }

    .marg-vert-#{$i} {
      margin-top: #{$space};
      margin-bottom: #{$space};
    }

    .marg-sides-#{$i} {
      margin-right: #{$space};
      margin-left: #{$space};
    }
  }
}

// @include generate-padding();
// @include generate-margin();

/*
@mixin synapse-custom($var) {
  @if ($var == 'big-font') {
    font-weight: 700;
    font-style: italic;
  } @elseif ($var == 'small-font') {
    font-weight: 300;
    text-decoration: underline;
  }
}
*/